@use '@angular/material' as mat;

.container {
  max-width: 500px;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
  color: #ac6868;  // Cor primária do tema */
  background-color: #FFF8F8; // Fundo claro para contraste  
  border-radius: 8px;
}

.container-titulo {
  color: #ac6868; // Cor primária do tema
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-top: 2rem;
}

mat-form-field {
  width: 100%;
  border-radius: 8px;
    color: #ac6868; // Cor primária do tema
  background-color: #FFF8F8; 

}

.msg-button {
  padding: 1.5rem 0; // Deixa o botão mais alto
  font-size: 1rem;
  background-color: #ac6868;// Cor primária do tema
  color: white;
  
  
}

.msg-button:hover {
  background-color: #8A230C ; // Tom mais escuro da cor primária
}